/* About.module.css */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideInLeft {
    animation: slideInLeft 0.5s ease-out forwards;
}

.slideInRight {
    animation: slideInRight 0.5s ease-out forwards;
}